@import "https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap";


.card h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
.card p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
}
.card i {
color: #9ABC66;
font-size: 100px;
line-height: 200px;
margin-left:-15px;
}
.card {
background: white;
padding: 60px;
width: 100%;
border-radius: 4px;
box-shadow: 0 2px 3px #C8D0D8;
display: inline-block;
margin: 0 auto;
text-align: center;
padding: 40px 0;
background: #EBF0F5;
}



.cardError h1 {
    color: rgb(207, 88, 88);
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
.cardError p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
}
.cardError i {
color: rgb(207, 88, 88);
font-size: 100px;
line-height: 200px;
margin-left:-15px;
}
.cardError {
background: white;
padding: 60px;
width: 100%;
border-radius: 4px;
box-shadow: 0 2px 3px #C8D0D8;
display: inline-block;
margin: 0 auto;
text-align: center;
padding: 40px 0;
background: #EBF0F5;
}
