.changeBox {
    height: 82vh;
    min-height: 80vh;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.changeContainer {
    display: flex;
    flex-direction: row;
    position: relative; 
    z-index: 1;
    min-width: 55vw;
    min-height: 80%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.changeLeft {
    display: flex;
    min-width: 250px;
    width: 60%;
    background-image: url("./Guitar7.jpg");
    background-size:cover;
}

.changeRight {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;  
    padding: 0px 30px;
    background-color: rgb(255, 255, 255);
}

/* H2 ------------------------------------------------------------------ */
.changeRight h2 {
    height: 50px;
    margin-left: 5%;
    margin-top: 2em;
    margin-bottom: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   
}

/* Form --------------------------------------------------------- */

.changeForm {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto; 
    min-width: 300px ;
}

.changeForm fieldset {
    border: none;
    position: relative;
    margin-top: 11px; 
    height: 2em;
    padding-bottom: 1em;
}

.changeForm input {
    width: 250px;
    min-height: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 1em;
    border: 1px solid rgba(65, 65, 65, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding-left: 20px; 
    position: relative;
}

.changeBtn {
    display: block;
    width: 250px;
    height: 40px;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    background: rgb(95, 194, 95);
    font-weight: bold;
    font-size: 15px;
}

.changeBtn:hover{
    background: rgb(121, 216, 121);
}

.changeEM {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    margin: 0;
    bottom: 1.5em;
    color: rgba(255, 0, 0, 0.466);
    text-align:left;
    font-size: 14px;
    width: 20em;
    height: 2em;
}
