
#loginContainer{
  display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 800px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
  } 

  .loginLeft, .loginRight {
    width: 50%;
    padding: 30px 50px;
  }

  .loginLeft {
   background-color: rgb(214, 214, 214); 
   color: black;
   font-weight: bolder; 
  }
  
  .loginRight h2 {
      font-size: 18px;
      font-weight: normal;
      margin-top: 23px;
      margin-bottom: 20px;
      text-shadow: 0 2px 3px hsla(0, 0, 0, 0.1);
  }
  
  .form fieldset {
      border: none;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      position: relative;
  }
  
  .loginRight input {
      width: 200px;
      height: 5px;
      color: black;
      padding: 15px 40px 15px 15px;
      border-radius: 5px;
      font-size: 14px;
      outline: none!important;
      border: 1px solid rgba(65, 65, 65, 0.3);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
      vertical-align: top;
    }
  
    .submitBtn, .loginBtn {
      display: block;
      width: 260px;
      color: whitesmoke;
      text-decoration: none;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      padding: 15px 15px;
      border: none;
      border-radius: 5px;
      position: relative;
    }

  .loginBtn.Facebook {
    margin-top: 30px;
    background: #32508E;
  }
  
  .loginBtn.Twitter {
    background: #55ACEE;
  }

  .loginBtn.google {
    background: #DD4B39;
  }

  .loginBtn.linkedin {
    background: #0e76a8 ;
  }

  .submitBtn {
    background: rgb(95, 194, 95);
    font-weight: bold;
    color: white;
    font-size: 15px;
    right: 9px;
  }