.resetBox {
    height: 82vh;
    min-height: 80vh;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetContainer {
    display: flex;
    flex-direction: row;
    position: relative; 
    z-index: 1;
    min-width: 55vw;
    min-height: 70%;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background-image: url("./Guitar2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.resetLeft {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;  
    padding: 0px 30px;
    background-color: rgb(255, 255, 255);
}

.resetRight {
    display: flex;
    width: 60%;
}

/*  H2 ---------------------------------------------------------------- */
.resetLeft h2 {
    height: 50px;
    margin-left: 15%;
    margin-top: 2em;
    margin-bottom: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   
}

/* Form ------------------------------------------------------------ */

.resetForm {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto; 
    min-width: 200px ;
}

.resetForm fieldset {
    border: none;
    position: relative;
}

.resetForm input {
    width: 250px;
    min-height: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 1em;
    border: 1px solid rgba(65, 65, 65, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding-left: 20px; 
    position: relative;
}

.resetBtn {
    display: block;
    position: relative;
    width: 250px;
    height: 40px;
    color: white;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(95, 194, 95);
    font-weight: bold;
    font-size: 15px;
}

.resetBtn:hover{
    background: rgb(121, 216, 121);
}