.signupBox {
    height: 82vh;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupContainer {
    display: flex;
    flex-direction: row;
    position: relative; 
    z-index: 1;
    min-width: 60vw;
    min-height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.signupLeft {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.signupRight {
    display: flex;
    min-width: 250px;
    width: 50%;
    background-image: url("./Guitar31.jpg");
    background-size: cover;
  }


/* h2 ---------------------------------------------------------------------------- */
.signupLeft h2 {
    height: 50px;
    margin-left: 15%;
    margin-top: 2em;
    margin-bottom: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   
}

.signupGg p {
    text-align: center;
    margin-top: 15px;
}

/* Form ---------------------------------------------------------------------------  */
.signupForm {
    height: 400px;
}

.signupForm fieldset {
    border: none;
    position: relative;
    margin-top: 11px; 
    height: 2em;
    padding-bottom: 1em;
}

.signupForm input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
    outline: none!important;
    border: 1px solid rgba(65, 65, 65, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    vertical-align: top;
    position: relative;
  }

  .signUpEyeIcon {
    position: relative;
    z-index: 2;
    color: grey;
    bottom: 10px;
    display: block;
    bottom: 1.8em;
    left: 85%;
/*     margin-left: 290px;  */
  }

  /* Button ------------------------------------------------------------------------- */

  .signupBtn  {
    display: block;
    width: 250px;
    height: 40px;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    background: rgb(95, 194, 95);
    font-weight: bold;
    font-size: 15px;
  }

.signupBtn:hover{
    background: rgb(121, 216, 121);
}

.supGoogleBtn {
    display: flex;
    margin-left: 4.5em; 
   margin-top: 0.5em; 
}

.supEM {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    margin: 0;
    bottom: 1.5em;
    color: rgba(255, 0, 0, 0.466);
    text-align:left;
    font-size: 14px;
    width: 20em;
    height: 2em;
}
