.productsContainer{
    background-color: transparent;
    border: none;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 25%;
    width: 100%;
    position:relative;
    background-color:white;
    border: 1px solid black;
}
.OrderDetailContainer{
    background-color: transparent;
    border: none;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 25%;
    width: 100%;
    position:relative;
    background-color:white;
    border: 1px solid black;
}
.PaymentDetailContainer{
    background-color: transparent;
    border: none;
    margin-top: 5%;
    height: 25%;
    width: 30%;
    margin-right: 15%;
    position:relative;
    background-color:white;
    border: 1px solid black;
}
.bgTotal{
    width: 100%;
    background-color: whitesmoke;
}

.headerOrders{
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(244,244,244);
    Color: black;
}
.headerOrders h3{
    margin-left:15px;
}

.orderCard{
    background-color: white;
    margin-top: 2%;
    display: flex;
    border-radius: 5px;
    align-items: center;
    margin-right:2%;
}

.OrderLayout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}
.inlineContent{
    display: flex;
    flex-direction: row;
}

@media(max-width: 950px){
    .OrderLayout{
        flex-direction: column
    }
    .PaymentDetailContainer{
        width: 70%;
        margin-left:15%;
        margin-right: 15%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .productsContainer{
        margin-top: 10%;
        margin-bottom: 10%;
    }
   }
.PaymentLink{
    margin-top: 5%;
    margin-bottom: 10%;
    text-decoration: none;
    margin-right: 5%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(41, 73, 143); 
    cursor: pointer;
    transition: .2s ease-out;
    color:white;
}
.PaymentLink:hover{
    background-color: white; 
    color:rgb(41, 73, 143)
}
