.ProductCartContainer{

}
.ProductCartContainer button{
    background-color: transparent;
    border: none;
}
.ProductCard{
    background-color: white;
    margin-top: 2%;
    display: flex;
    border:1px solid gray;
    border-radius: 5px;
}


.InputCartContainer input{
    margin-top: 10%;
    padding:10px 10px;
    max-width: 4%;
}
.InputCartContainer button{
    background-color: transparent;
    font-size: 20px;
    border: none;
}
.Purchasebutton{
    background: none;
    border: 1px solid black;
    padding: 10px 7px;
    margin-top: 7px;
    border-radius: 10px;
    width: 30%;
    
    cursor: pointer;
    background-color: rgb(41, 73, 143);
    color: whitesmoke;
    font-weight: 600;
    transition: .2s ease-out;
    }
.Purchasebutton:hover{
    background-color: whitesmoke;
    color: rgb(41, 73, 143);
    }
