
.ProductCartContainer button{
    background-color: transparent;
    border: none;
}
.ProductCard{
    background-color: white;
    margin-top: 2%;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
   
}



.InputCartContainer input{
    margin-top: 10%;
    padding: 10px 10px;
    max-width: 4%;
    background-color: white;
}
.InputCartContainer button{
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: aqua;
    padding: 8px;
    justify-content: center;
    /* align-items: center; */
    /* display: flex; */
    /* flex-direction: row; */
}
