.ProductCartContainer{

}
.ProductCartContainer button{
    background-color: transparent;
    border: none;
}
.ProductCard{
    background-color: white;
    margin-top: 2%;
    display: flex;
    border:1px solid gray;
    border-radius: 5px;
    align-items: center;
}



.InputCartContainer input{
    margin-top: 10%;
    padding:10px 10px;
    max-width: 4%;
}
.InputCartContainer button{
    background-color: transparent;
    font-size: 20px;
    border: none;
}

.Purchasebutton:hover{
    background-color: whitesmoke;
    color: rgb(41, 73, 143);
    }
